<!DOCTYPE html>

<!--Pagina Home: Sitio web CEIC-->
<html>
    <head>
        <title>CEIC USB</title>
        <link rel="StyleSheet" href="assets/CSS/home.css" type="text/css">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet"> 
        <link rel="shortcut icon" href="assets/images/logo.png">
    </head>

    <body background="assets/images/hipster_workspace.jpg">
        <!--HEADER-->
        <header>
            <table>
                <tr>
                    <td><img class="logo-header" src="assets/images/logo.png" alt="Logo del Ceic"></td>
                    <td>
                        <p><strong>Centro de estudiantes de Ingeniería de la Computación</strong></p>
                        <p><i>Universidad Simón Bolívar</i></p>
                    </td>
                    <td>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Cuartico</a></li>
                            <li><a href="">Contacto</a></li>
                            <li class="sign-in"><a href="">Inicia sesión</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </header>

       
        <!--BANNER DE BIENVENIDA-->
        <div class="main-title">
            <h1>Centro de Estudiantes de Ingeniería de la Computación</h1>
        </div>

        <!--Espacio de Creatividad-->
        <div class="Nada">
            <p><strong>Hola! Ya no sabía que mas poner aqui</strong></p>
        </div>

        <!--NAVBAR -->
        <div class="Navbar">
            <table class="table-header">
                <tr>
                    <td><img class="logo-navbar" src="assets/images/logo.png" alt="Logo del Ceic"></td>
                    <!--Salita-->
                    <td>
                        <ul>
                            <li><p><strong>Salita</strong></p></li>
                            <br>
                            <li><a href="">Sistema de ventas</a></li>
                            <li><a href="">Inventarios</a></li>
                            <li><a href="">Catalogo en Linea</a></li>
                        </ul>
                       
                    </td>
                    <!--Profesión-->
                    <td>
                        <ul>
                            <li><p><strong>Profesión</strong></p></li>
                            <li><a href="">Pasantias</a></li>
                            <li><a href="">Ofertas de trabajo</a></li>
                            <li><a href="">Servicio comunitario</a></li>
                            <li><a href="">Miniproyecto</a></li>
                        </ul>
                    </td>
                    <!--Ceic Suite-->
                    
                    <td>
                        <ul>
                           <li><p><strong>Ceic Suite</strong></p></li>
                            <li><a href="">Sistema de ventas</a></li>
                            <li><a href="">Sistema de ventas</a></li>
                            <li><a href="">Sistema de ventas</a></li>
                        </ul>
                    </td>
                    <!--Información-->
                    <td>
                        <ul>
                            <li><p><strong>Información</strong></p></li>
                            <li><a href="">Contactenos</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Sistema de ventas</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="https://twitter.com/USBCEIC"><img src="assets/images/twitter.svg" alt="Logo Twitter"></a></li>
                            <li><a href="https://www.instagram.com/usbceic/"><img src="assets/images/instagram.svg" alt="Logo Instagram"></a></li>
                            <li><a href="https://www.linkedin.com/company/ceicusb/"><img src="assets/images/linkedin.svg" alt="Logo linkedIn"></a></li>
                        </ul>
                    </td>
                </tr>
            </table>

        </div>

        <!--FOOTER-->
        <footer>
            <p> &copy; 2018 CEIC Official Website - All rights reserved</p>
        </footer>
    </body>
</html>