<!DOCTYPE html>
<html>
    <head>
	    <title>CEIC USB</title>
    </head>

    <body>
        <header>
            <table>
                <tr>
                    <td><img src="assets/images/logo.png" alt="Logo del Ceic"></td>
                    <td>Centro de estudiantes de Ingeneria de la Computación</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </header>

        <div class="Navbar">


        </div>

        <footer>
            <p> &copy; 2018 CEIC Official Website - All rights reserved</p>
        </footer>
    </body>
</html>