<!DOCTYPE html>

<!--Pagina Home: Sitio web CEIC-->
<html>
    <head>
        <title>CEIC USB</title>
        <link rel="StyleSheet" href="assets/CSS/home.css" type="text/css">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet"> 
    </head>

    <body>
        <!--HEADER-->
        <header>
            <table>
                <tr>
                    <td><img class="logo-header" src="assets/images/logo.png" alt="Logo del Ceic"></td>
                    <td>
                        <p><strong>Centro de estudiantes de Ingeneria de la Computación</strong></p>
                        <p>Universidad Simón Bolívar</p>
                    </td>
                    <td class="menu-header">
                            <a href="">Home</a>
                            <a href="">Cuartico</a>
                            <a href="">Contacto</a>
                            <a href="">Iniciar sesión</a>
                    </td>
                </tr>
            </table>
        </header>

       
        <!--BANNER DE BIENVENIDA-->
        <div class="main-title">
            <div class="image-main-title">
                <img  src="assets/images/hipster_workspace.jpg" alt="Imagen principal">
            </div>
            <h1>Centro de Estudiantes de</h1>
            <h1>Ingeneria de la Computación</h1>
        </div>

        <!--NAVBAR -->
        <div class="Navbar">
            <table>
                <tr>
                    <td><img class="logo-navbar" src="assets/images/logo.png" alt="Logo del Ceic"></td>
                    <!--Salita-->
                    <td>
                        <p><strong>Salita</strong></p>
                        <a href="">Sistema de ventas</a>
                        <a href="">Inventarios</a>
                        <a href="">Catalogo en Linea</a>
                    </td>
                    <!--Profesión-->
                    <td>
                        <p><strong>Profesión</strong></p>
                        <a href="">Pasantias</a>
                        <a href="">Ofertas de trabajo</a>
                        <a href="">Servicio comunitario</a>
                        <a href="">Miniproyecto</a>
                    </td>
                    <!--Ceic Suite-->
                    
                    <td>
                        <p><strong>Ceic Suite</strong></p>
                        <a href="">Sistema de ventas</a>
                        <a href="">Sistema de ventas</a>
                        <a href="">Sistema de ventas</a>
                    </td>
                    <!--Información-->
                    <td>
                      <p><strong>Información</strong></p>
                      <a href="">Contactenos</a>
                      <a href="">FAQ</a>
                      <a href="">Sistema de ventas</a>
                    </td>
                </tr>
            </table>

        </div>

        <!--FOOTER-->
        <footer>
            <p> &copy; 2018 CEIC Official Website - All rights reserved</p>
        </footer>
    </body>
</html>