/*Home CEIC SITE*/
body{
    margin:0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body, html {
    height: 100%;
}


/*Header*/
.logo-header{
    width: 60px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header table{
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

header{
    font-family: 'K2D', sans-serif;
    background: #00076D;
    color: #fefffd;
    text-decoration: none;
}

header p{
    line-height: 25%;

}

header a{
    text-align: right;
    color: #fefffd;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

header ul{
    list-style: none;
    align-content: flex-end;
}

header li{
    display: inline;
}

/*Contendor CENTRO*/
.main-title{
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: 'K2D', sans-serif;
    font-size: 15pt;
    color: #fefffd;
    text-align: center;
    z-index: 30;
}

/*Espacio de Creatividad*/
.Nada{
   background: #fefffd;
   color: black;
   font-size: 15pt; 
   padding-top: 100px;
   padding-bottom: 100px;
   font-family: 'K2D', sans-serif;
   text-align: center;
}
/**Navbar**/
.logo-navbar{
    width: 80px;
}

.Navbar{
    background-color: #040931;
    color:#fefffd;
    text-align: center;
    font-size: 10pt;
    font-family: 'K2D', sans-serif;
    column-count: 1;
}

.Navbar a{
    color:#fefffd;
    text-decoration: none;
}

.table-header{
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    width: 100%;
}

.Navbar ul{
    list-style: none;
}

/*Footer*/
footer{
    text-align: center;
    font-size: 11pt;
    background: #00076D;
    padding-top: 1px;
    padding-bottom: 1px;
    z-index: 10;
}

footer p{
    color:#fefffd;
    font-family: 'K2D', sans-serif;
    z-index: 20;
}