/*Home CEIC SITE*/
/*
    Definimos el fondo para el parallax ocupando el total del despacio
    al igual que bloqueamos que se repita y le ponemos el artributo fixed
    para que no se mueva y simule el efecto parallax.
*/

@font-face{
    font-family: 'K2D';
    src:url('../fonts/K2D-Regular')
}
body{
    margin:0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body, html {
    height: 100%;
}


/*Header*/
/*
    Ajustamos el logo a un tamaño acorde al header. Utilizamos padding para definir el espacio que el logo
    debe tener con respecto al resto de los elementos y al borde.
*/
.logo-header{
    width: 60px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
    Barra donde tenemos alojado el menú del sitio, el nombre y el logo. Utilizamos padding para
    defnir su distancia con respecto a los bordes y el tamaño en 100 para que ocupe todo el ancho
    de la pantalla.
*/

header table{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

/*
    Definimos el tipo de letra a utilizar en todo el div, siendo escogida la google font K2D, el color de 
    fondo de la barra, el clor del texto, la eliminación de los atributos graficos de los links y que ocupe
    el total de la pantalla. Se utiliza el atributo fixed para que la barra no se mueve y sea visible en todo
    momento.
*/

header{
    font-family: 'K2D', sans-serif;
    background: #00076D;
    color: #fefffd;
    text-decoration: none;
    position: fixed;
    width: 100%;
    margin-top: -19%;
}

/*
   Definimos los atributos del texto. El alto de texto para que las lineas estén menos separas, alineados
   a la izquieda, sin decoración, de color blanco y con el padding correpondiente para mantener la sepración.
*/

header p{
    line-height: 25%;

}

header a{
    text-align: right;
    color: #fefffd;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}

/*
     Eliminamos los puntos en la listas para seguir correctamente el diseño planteado. De igual manera usamos display:inline
     para que todos los elementos de la lista aparezcan uno al lado del otro en vez de en la forma tradicional.   
*/

header ul{
    list-style: none;
    text-align: right;
}

header li{
    display: inline;
}

/*
    Diseñamos utilizando box design el botón de inicio de sesión. Se aplica borde, padding para separar las letras del recuadro
    y hover para que cmabie de color al mover el cursor encima de el.
*/

.sign-in{
    border: 1px #fefffd solid;
    padding: 3px;
}

.sign-in:hover{
    border: 1px #fefffd solid;
    padding: 3px;
    background: #fefffd;
}

.sign-in a:hover{
    color: #00076D;
}

/*Contendor CENTRO*/
/*
    Se agrega padding en la parte superior e inferior para que sea un cuadro de tamaño similar al alto de la pantalla, se 
    define el tipo de fuente en K2D (Google Font), de tamaño 15 y color blanco para hacer contraste con el fondo. Centrada
*/
.main-title{
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'K2D', sans-serif;
    font-size: 15pt;
    color: #fefffd;
    text-align: center;
    z-index: 30;
    margin: 250px;
}


/*Espacio de Creatividad*/
.Nada{
   background: #fefffd;
   color: black;
   font-size: 15pt; 
   padding-top: 100px;
   padding-bottom: 100px;
   font-family: 'K2D', sans-serif;
   text-align: center;
}
/**Navbar**/

.logo-navbar{
    width: 80px;
}

/*
    Definimos el color de fondo, color de las letras y la alineación de acuerdo con lo planteado en el diseño.
    Utilizamos column-count para que las listas no pasen de una sola columna
*/
.Navbar{
    background-color: #040931;
    color:#fefffd;
    text-align: center;
    font-size: 10pt;
    font-family: 'K2D', sans-serif;
    column-count: 1;
}

.Navbar a{
    color:#fefffd;
    text-decoration: none;
}

/*
    Utilizamos el paddig para definir la separación de la tabla que contiene todos los menús de los bordes, así coincide con 
    el diseño propuesto. De igual manera se pone el valor width en 100% para que seimpre sea tan ancha como la pantalla.
    Se eliminan los puntos de las listas para cumplir con el diseño.
*/
.table-header{
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    width: 100%;
}

.Navbar ul{
    list-style: none;
}

/*Footer*/
/*
    Utilizamos todos los atributos propios para que el footer cumpla con las caracteristicas coincidan con el diseño planteado
    En especial el padding para mantenr distancia con el borde de pagina y el bloque de arriba para evitar que queden bordes
    blancos. Se define el tipo de letra como K2D como standar del sitio
*/
footer{
    text-align: center;
    font-size: 11pt;
    background: #00076D;
    padding-top: 1px;
    padding-bottom: 1px;
    z-index: 10;
}

footer p{
    color:#fefffd;
    font-family: 'K2D', sans-serif;
    z-index: 20;
}
