/* Configurando la fuente a utilizar en el site */
@font-face{
    font-family: 'K2D';
    src:url('../fonts/K2D/K2D-Regular.ttf')
}

*{
    font-family: 'K2D';
}

/* sobreescribir clase de titulo de navbar de bootstrap para adaptar al site*/
.navbar-brand{
    font-size: 1em;
    line-height: 1.3;
}

.btn-navbar{
    color:  white;
    border-color:white;
}
.btn-navbar:hover{
    color:  white;
    background-color: #efcc00;
    border-color: #efcc00;
}
