/* Configurando la fuente a utilizar en el site */
@font-face{
    font-family: 'K2D';
    src:url('../fonts/K2D/K2D-Regular.ttf')
}

*{
    font-family: 'K2D';
}

html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

/*Header*/
/*
    Ajustamos el logo a un tamaño acorde al header. Utilizamos padding para definir el espacio que el logo
    debe tener con respecto al resto de los elementos y al borde.
*/
.logo-header{
    width: 90px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* transparencia para la foto de ceic */

.fotoceic {
    opacity: 0.8;
}
/* sobreescribir clase de titulo de navbar de bootstrap para adaptar al site*/
.navbar-brand{
    font-size: 1em;
    line-height: 1.3;
}

/* Media queries para hacer responsive el navbar */
@media screen and (max-width:800px){
    .navbar-brand{
        font-size: 0.75em;
        line-height: 1;
        text-align: center;
    }
    .nav-item{
        text-align: center;
    }
    .logo-header{
        margin-top: 5px;
    }
} 
.btn-navbar{
    color:  white;
    border-color:white;
}
.btn-navbar:hover{
    color:  blue;
    background-color: white;
    border-color: blue;
}
.sign-in{
    border: 1px #fefffd solid;
    padding: 3px;
}

.sign-in:hover{
    border: 1px #fefffd solid;
    padding: 3px;
    background: #fefffd;
}

.sign-in a:hover{
    color: #00076D;
}

/*Contendor CENTRO*/
/*
    Se agrega padding en la parte superior e inferior para que sea un cuadro de tamaño similar al alto de la pantalla, se 
    define el tipo de fuente en K2D (Google Font), de tamaño 15 y color blanco para hacer contraste con el fondo. Centrada
*/

a:hover{
    color: yellow;
    text-decoration: none;
}

/*Espacio de Creatividad*/
.Nada{
   background: #fefffd;
   color: black;
   font-size: 15pt; 
   padding-top: 100px;
   padding-bottom: 100px;
   font-family: 'K2D', sans-serif;
   text-align: center;
}
/**Navbar del footer**/

.logo-navbar{
    width: 80px;
}

/*
    Definimos el color de fondo, color de las letras y la alineación de acuerdo con lo planteado en el diseño.
    Utilizamos column-count para que las listas no pasen de una sola columna
*/
.footbar{
    background-color: #040931;
    color:#fefffd;
    text-align: center;
    font-size: 10pt;
    font-family: 'K2D', sans-serif;
    column-count: 1;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footbar a{
    color:#fefffd;
    text-decoration: none;
}

.footbar ul{
    list-style: none;
}

.redes{
    width: 20px;
}


/*Footer*/
/*
    Utilizamos todos los atributos propios para que el footer cumpla con las caracteristicas coincidan con el diseño planteado
    En especial el padding para mantenr distancia con el borde de pagina y el bloque de arriba para evitar que queden bordes
    blancos. Se define el tipo de letra como K2D como standar del sitio
*/
footer{
    text-align: center;
    font-size: 12pt;
    background: #00076D;
    padding-top: 1px;
    padding-bottom: 1px;
    z-index: 10;
}

footer p{
    color:#fefffd;
    font-family: 'K2D', sans-serif;
    z-index: 20;
} 

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}