{% load static %}
<!DOCTYPE html>

<!--Pagina Home: Sitio web CEIC-->
<!--
    Este sitio web esta siendo diseñado por el centro de estudiantes de ingenieria de la computación de la 
    universidad Simón Bolívar. Incio de Desarrolo: Julio de 2018
-->
<html>
    <head>
        <title>CEIC USB</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href={% static 'images/logo.png' %}>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href={% static 'bootstrap/css/bootstrap.min.css' %}>
        <link rel="stylesheet" href={% static 'CSS/site.css' %}>
        <link rel="stylesheet" href={% static 'CSS/home.css' %}>
    </head>

    <body>  <!-- Imgen de Workspace para efecto parallax donde aparece el nombre del centro  -->
        <!--HEADER-->
         <!-- 
             En este div tenemos el logo del centro la identififacaión, un menu de navegación de acceso rapido y el boton
             de inicio de sesión para los computistas afiliados 
          -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary pt-0 pb-1">           
                <img class="logo-header mx-auto d-block" src={% static 'images/logo.png' %} alt="Logo del Ceic" height="60px">
                <a class="navbar-brand" href="#"><strong>Centro de estudiantes de Ingeniería de la Computación</strong><br>
                <i>Universidad Simón Bolívar</i></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offset-md-2 offset-lg-4 offset-xl-5" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link hvr-underline-from-left" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hvr-underline-from-left" href="#">Cuartico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link hvr-underline-from-left" href="#">Contacto</a>
                </li>
                <div class="d-flex pl-2 pt-1 justify-content-center">
                <form class="form-inline">
                    <button class="btn btn-outline-success btn-navbar" type="button">Iniciar sesión</button>
                </form></div>
                </ul>
            </div>
        </nav>

       
        <!--BANNER DE BIENVENIDA-->
         <!-- 
             En esta area aparece el identificando nuevamente el nombre del centro en conjunto con una imagen 
             de fondo de la sala de lectura
          -->
        <div class="">
                    <img class="fotoceic" src={% static 'images/FotoCeicNueva.png' %} style="width:100%" >
                    <div class="offset-md-1 offset-lg-1 offset-xl-2">
                    <h1 class="" style="position: absolute;top: 45%;color: white">Centro de Estudiantes de Ingeniería de la Computación</h1>
                    </div>
        </div>

        <!--Espacio de Creatividad-->
        <!--
            Esta area esta destinada a crear espacios de interacción al computista, como por ejemplo la integración
            de un carrusel de noticias relacionadas al canal de telegram, al igual que imagenes de eventos recientes
            y proximos
        -->
        <div class="Nada">
            <p><strong>Hola! Ya no sabía que mas poner aqui</strong></p>
        </div>

        <!--NAVBAR DEL FOOTER -->
        <!-- 
            En esta area tenemos un area de navegación extendida, donde los usuarios podran acceder al total de las
            funciones ofrecidas por la aplicación. Estos estan relacionados con la Sala de Lectura, Formación academica
            y profesional, información propia del centro y el CEIC SUITE
         -->
        <div class="footbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col"><img class="logo-navbar" src={% static 'images/logo.png' %} alt="Logo del Ceic"></div>
                    <!--Salita-->
                    <!--Links a las paginas de los servicios relacionados a la sala de lectura-->
                    <div class="col">
                        <ul>
                            <li><p><strong>Salita</strong></p></li>
                            <br>
                            <li><a href="">Sistema de ventas</a></li>
                            <li><a href="">Inventarios</a></li>
                            <li><a href="">Catalogo en Linea</a></li>
                        </ul>
                       
                    </div>
                    <!--Profesión-->
                    <!--Links a las paginas relacionadas al desarrollo academico y profesional de los computistas -->
                    <div class="col">
                        <ul>
                            <li><p><strong>Profesión</strong></p></li>
                            <li><a href="">Pasantias</a></li>
                            <li><a href="">Ofertas de trabajo</a></li>
                            <li><a href="">Servicio comunitario</a></li>
                            <li><a href="">Miniproyecto</a></li>
                        </ul>
                    </div>
                    <!--Ceic Suite-->
                    <!--PENDIENTE: Servicios relacionados al CEIC SUITE como prestamos de libros-->
                    <div class="col">
                        <ul>
                           <li><p><strong>Ceic Suite</strong></p></li>
                            <li><a href="">Sistema de ventas</a></li>
                            <li><a href="">Sistema de ventas</a></li>
                            <li><a href="">Sistema de ventas</a></li>
                        </ul>
                    </div>
                    <!--Información-->
                    <!--Links a las paginas de infomración especifica del Centro de estudiantes-->
                    <div class="col">
                        <ul>
                            <li><p><strong>Información</strong></p></li>
                            <li><a href="">Contactenos</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Sistema de ventas</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="redes">
                            <ul>
                                <!--Area del NAvbar dedicada a mostrar las redes sociales del Centro para que los usuarios puedas
                                estar actualizados con la información de la carrera-->
                                <li><a href="https://twitter.com/USBCEIC" target="_blank"><img src={% static 'images/twitter.svg' %} alt="Logo Twitter"></a></li>
                                <li><a href="https://www.instagram.com/usbceic/" target="_blank"><img src={% static 'images/instagram.svg' %} alt="Logo Instagram"></a></li>
                                <li><a href="https://www.linkedin.com/company/ceicusb/" target="_blank"><img src={% static 'images/linkedin.svg' %} alt="Logo linkedIn"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--FOOTER-->
        <!--
            En esta area se define el copyright del desarrollo del sitio web del centro al igual que el año de su ultima
            edición
        -->
        <footer>
            <p> &copy; 2018 CEIC Official Website - All rights reserved</p>
        </footer>

        <script src={% static 'bootstrap/js/jquery-3.3.1.min.js' %}></script>
        <script src={% static 'bootstrap/js/bootstrap.min.js' %}></script>
    </body>
</html>